<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revise Lessons Regularly</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    {% block style %} {% endblock %}
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">Username</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link {% block homeactive %} {% endblock %}" href="{{ url_for('index') }}">Home</a>
                <a class="nav-item nav-link {% block newtaskactive %} {% endblock %}" href="{{ url_for('newTask') }}">New Task</a>
                <a class="nav-item nav-link {% block tasklistactive %} {% endblock %}" href="{{ url_for('tasklist') }}">Task List</a>
                <a class="nav-item nav-link {% block loginactive %} {% endblock %}" href="{{ url_for('login') }}">Log In</a>
                <a class="nav-item nav-link {% block signupactive %} {% endblock %}" href="{{ url_for('signup') }}">Sign Up</a>
                <a class="nav-item nav-link" href="#">Log out</a>
            </div>
            <!-- <a class="lead ml-auto" href="#">Username</a> -->
        </div>
    </nav>

    {% block body %} {% endblock %}
    <script src="{{ url_for('static', filename='jQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
</body>

</html>