<form action="/update" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name"><br>
    <label for="duration">How long(days) to continue</label>
    <input type="text" name="duration" id="duration"><br>
    <label for="startdate">Starting Date</label>
    <input type="text" name="day" id="day" placeholder="day">
    <input type="text" name="month" id="month" placeholder="month">
    <input type="text" name="year" id="year" placeholder="year"><br>
    <label for="oneday">How many times to rpeate everyday</label>
    <input type="text" name="oneday" id="oneday"><br>
    <label for="oneday">How many times to rpeate in two day interval</label>
    <input type="text" name="twoday" id="twoday"><br>
    <label for="oneday">How many times to rpeate in three day interval</label>
    <input type="text" name="threeday" id="threeday"><br>
    <label for="oneday">How many times to rpeate in five day interval</label>
    <input type="text" name="fiveday" id="fiveday"><br>
    <label for="oneday">How many times to rpeate in seven day interval</label>
    <input type="text" name="sevenday" id="sevenday"><br>
    <label for="oneday">How many times to rpeate in ten day interval</label>
    <input type="text" name="tenday" id="tenday"><br>
    <label for="oneday">How many times to rpeate in fifteen day interval</label>
    <input type="text" name="fifteenday" id="fifteenday"><br>
    <input type="submit" value="Update Task"><br>
    <label for="delete">Delete Task/Topic</label>
    <input type="checkbox" name="delete" id="delete" value="del">
    <input type="submit" value="Delete Task">
</form>