{% extends "base.html" %}
{% block homeactive %} active {% endblock %}

{% block body %}
<div class="container my-4">
  {% if current_user.is_authenticated %}
    <h2 class="display-4 mb-3">Today's task</h2>
    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
  {% else %}
  <h4 class="lead">
    <p class="text-center">After learning a new concept it is very important to revice the topic several times.</p>
    <hr class="display-4">
    <p class="text-center">Also often we need to perform a task in regular interval.</p>
    <hr class="display-4">
    <p class="text-center">This app will help you to be organized by reminding your daily tasks.</p>
    <hr class="display-4">
    <p class="text-center">You can use this app as an exercise reminder (several gym days and exercises) also.</p>
    <hr class="display-4">
    <p class="text-center">
      Several objects like toothbursh is required to replace once in every 3 months. This app will also remind those tasks for you.
    </p>
  </h4>
  {% endif %}
</div>
{% endblock %}