{% extends "base.html" %}
{% block style %}
{% endblock %}
{% block signupactive %} active {% endblock %}
{% block body %} 
<div >
    <div class="alert alert-success" role="alert">
        Sign Up successful
      </div>
</div>
<div class="container my-4">
    <form action="POST">
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.name.label}}
            {{form.name(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.email.label}}
            {{form.email(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.password.label}}
            {{form.password(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.confirmPassword.label}}
            {{form.confirmPassword(class="form-control")}}
        </div>
        {{form.submit(class="btn btn-primary")}}
    </form>
</div>

{% endblock %}
