{% extends "base.html" %}
{% block tasklistactive %} active {% endblock %}
{% block body %}
<div class="container my-4">

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Task Id</th>
                <th scope="col">Task Name</th>
                <th scope="col">Started at</th>
                <th scope="col">Duration</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-outline-warning">Edit task</button></td>
            </tr>


        </tbody>
    </table>
</div>
{% endblock %}