{% extends "base.html" %}
{% block tasklistactive %} active {% endblock %}
{% block body %}
<div >
    {% for tag, msg in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{tag}}" role="alert">
        {{msg}}
      </div>
    {% endfor %}
</div>
<div class="container my-4">

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Task Name</th>
                <th scope="col">Started at</th>
                <th scope="col">End date</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{task.taskName}}</td>
                <td>{{ task.startDay }}.{{ task.startMonth }}.{{ task.startYear }}</td>
                <td>{{ task.endDay }}.{{ task.endMonth }}.{{ task.endYear }}</td>
                <td><a href="/view/{{task.id}}"><button class="btn btn-outline-warning">View task</button></a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}