{% extends "base.html" %}
{% block style %}
<style>
    #calender-div {
        width: 350px;
        height: 350px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(7, 50px);
    }

    .box {
        height: 50px;
        width: 50px;
        border: 1pt solid rgb(182, 157, 157);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    .week-day-name {
        background-color: aquamarine;
    }
    #button-div{
        width: 350px;
        margin: auto;
    }
    .pull-right{
        float: right;
        /* clear: both; */
    }
    .pull-left{
        float: left;
        /* clear: both; */
    }
    #go-to-prev-month{
        width: 50px;
        height: 50px;
        display: inline-block;
        font-size: 25px;
    }
    #go-to-next-month{
        width: 50px;
        height: 50px;
        display: inline-block;
        font-size: 25px;
    }
    #month-year{
        width: 250px;
        height: 50px;
        display: inline-block;
        font-size: 25px;
    }
    #calender-header{
        width: 360px;
        display: block;
        margin: 10px auto;
        /* border:  */
    }
</style>
{% endblock %}
{% block body %}
<div class="container text-center my-3">
    <h3>
        Revision/Repitition days
    </h3>
</div>
<div id="calender-header">
    <div class="btn btn-outline-primary" id="go-to-prev-month">&#8592;</div>
    <div class="text-center" id="month-year">March 2020</div>
    <div class="btn btn-outline-primary" id="go-to-next-month">&#8594;</div>
</div>
<div id="calender-div" class="border border-success">
    <div class="box week-day-name">M</div>
    <div class="box week-day-name">T</div>
    <div class="box week-day-name">W</div>
    <div class="box week-day-name">T</div>
    <div class="box week-day-name">F</div>
    <div class="box week-day-name">S</div>
    <div class="box week-day-name">S</div>
    <div class="box">1</div>
    <div class="box">2</div>
    <div class="box">3</div>
    <div class="box bg-success text-white">4</div>
    <div class="box">5</div>
    <div class="box">6</div>
    <div class="box">7</div>
    <div class="box">8</div>
    <div class="box">9</div>
    <div class="box">10</div>
    <div class="box">11</div>
    <div class="box">12</div>
    <div class="box">13</div>
    <div class="box">14</div>
    <div class="box">15</div>
    <div class="box">16</div>
    <div class="box">17</div>
    <div class="box">18</div>
    <div class="box">19</div>
    <div class="box">20</div>
    <div class="box">21</div>
    <div class="box">22</div>
    <div class="box">23</div>
    <div class="box">24</div>
    <div class="box">25</div>
    <div class="box">26</div>
    <div class="box">27</div>
    <div class="box">28</div>
    <div class="box">29</div>
    <div class="box">30</div>
    <div class="box">31</div>
    <div class="box">32</div>
    <div class="box">33</div>
    <div class="box">34</div>
    <div class="box">35</div>
    <div class="box">36</div>
    <div class="box">37</div>
    <div class="box">38</div>
    <div class="box">39</div>
    <div class="box">40</div>
    <div class="box">41</div>
    <div class="box">42</div>
</div>
<div id="button-div" class="my-3">
    <a class="btn btn-primary pull-left text-white">Edit Task</a>
    <a class="btn btn-danger pull-right text-white">Delete Task</a>
</div>
<script type="text/javascript">
    function myFun(vars){
        return vars
    }
    let myVar = myFun({{data|tojson}})
    console.log(myVar);
</script>
{% endblock %}